*, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

header, main {
  /*width: 900px;*/
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  box-sizing: border-box;
  background-color: white;
}

header h1, header p {
  text-align: center;
}

header h1 {
  margin: 15px 0;
}

header h2 {
  margin: 15px 0;
}

nav ol {
  margin-left: 30px;
}

main p {
  font-size: 18px;
  margin: 15px 0;
}

section {
  padding: 15px 0; 
  border-top: 1px solid gray;
}

section h2 {
  margin: 0 0 15px 0; 
  font-size: 28px;
}

section h3 {
  font-size: 24px;
}

section ul {
  margin-left: 30px;
  font-size: 18px;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

@media screen and (min-width: 961px) {
  header, main {
    width: 961px;
  }
}
